<!DOCTYPE html>
<html lang="en" data-theme="light" xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content)">
<head th:replace="~{layouts/root :: head(${title}, ~{::userExtraHead})}">
  <th:block th:fragment="userExtraHead"><!-- extra scripts for user layout --></th:block>
</head>
<body class="bg-base-200 min-h-screen">
  <div class="navbar bg-base-100 shadow-md">
    <div class="navbar-start">
      <a th:href="@{/}" class="btn btn-ghost text-lg">Home</a>
    </div>
    <div class="navbar-end">
      <a th:href="@{/account/change-password}" class="btn btn-ghost">Change Password</a>
      <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit" class="btn btn-ghost">Sign out</button>
      </form>
    </div>
  </div>
  <div class="container mx-auto p-6">
    <main th:replace="${content}">Content</main>
  </div>
</body>
</html>
