<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/user :: layout(~{::title}, ~{::main})}">
<head>
    <title>Change Password</title>
</head>
<body>
<main>
    <h1>Change Password</h1>

    <div th:if="${param.success}">
        <p>Password changed successfully.</p>
    </div>

    <div th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/account/change-password}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div>
            <label for="currentPassword">Current password</label>
            <input id="currentPassword" type="password" name="currentPassword" autocomplete="current-password" required autofocus/>
        </div>
        <div>
            <label for="newPassword">New password</label>
            <input id="newPassword" type="password" name="newPassword" autocomplete="new-password" required/>
        </div>
        <button type="submit">Change password</button>
    </form>
</main>
</body>
</html>
